
.form{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: right;
}

.form-res {
  border:2px solid grey;
  padding:20px 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  font-weight: 600;
  font-size: large;
}
.form-div{
  display: flex;
  justify-content: right;
  margin:20px 10px;
}
.form-div label{
  margin-right: 10px;
  width: 50%;
  float: left;
}
.validation-div {
  width: 70%;
  float: right;
}
.form-div small{
  color: red;
}
